@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap&subset=cyrillic');
body {
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    font-weight: 700;
    color: #000;
}

a {
    text-decoration: none;
}

.container {
    width: 890px;
    margin: auto;
}

nav {
 margin: 10vh 0;
 font-size: 32px;
 display: flex;
 justify-content: space-between;
 width: 100%;
}

nav a {
    color: #000;
}
nav a:hover {
    color: #626262;
}

#red_square {
    position: relative;
    z-index: 1;
    border: 9px solid #FF0000;
    height: 476px;
    width: 844px;
    background-color: #FFF;
}
#blue_square {
    position: relative;
    z-index: 0;
    border: 9px solid #1000C8;
    height: 476px;
    width: 844px;
    margin: -465px 0 0 27px; 
}
#mainscreen_text {
    padding: 5px 10px;
    font-size: 64px;
    letter-spacing: -3px;
}

.footer {
    margin: 27px 0 10vh 0;
    display: flex;
    justify-content: space-between;
}